.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1e0b3b;
  color: #ffffff;
  text-align: center;
  font-family: Arial, sans-serif;
  overflow-y: auto; /* Permite rolagem se o conteúdo for maior que a tela */
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #ff5e99;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para destacar o título */
}

.timer {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ff5e99; /* Cor de destaque */
}

.image-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.image-container img {
  width: 260px;
  max-width: 90%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out; /* Efeito de hover */
}

.image-container img:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.music-player {
  margin: 10px 0;
  background: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
  border-radius: 10px;
  padding: 10px;
}

.love-text {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  margin: 20px auto;
  max-width: 80%;
  color: #ccc;
  background: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
  padding: 10px;
  border-radius: 10px; /* Bordas arredondadas */
  word-wrap: break-word;
  overflow-wrap: break-word;
}